body { font-family: 'Rubik', sans-serif; font-size: 16px; }

.sidebar { width: 230px; background: #181B25; height: 100vh; position: fixed; top: 0; left: 0; bottom: 0; overflow: auto; }

.sidebar .logo { display: block; padding-left: 28px; padding-top: 28px; padding: 28px 0 39px 28px; }

.main_nav .nav-item { margin-bottom: 10px; }

.main_nav .nav-item .nav-link { padding: 22px 48px 22px 32px; font-size: 16px; line-height: 19px; font-weight: normal; color: #fff; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; white-space: normal; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.main_nav .nav-item .nav-link em { width: 19px; max-width: 19px; -webkit-box-flex: 0; -webkit-flex: 0 0 19px; -ms-flex: 0 0 19px; flex: 0 0 19px; height: 19px; background: #B82F2F; -webkit-border-radius: 50%; border-radius: 50%; font-size: 9px; font-style: normal; line-height: 19px; text-align: center; display: inline-block; position: relative; top: -3px; top: -12px; -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.main_nav .nav-item .nav-link:hover { background: rgba(15, 193, 171, 0.05); }

.main_nav .nav-item .nav-link.dropdown-toggle:after { display: block; position: absolute; right: 30px; top: 25px; border: 0; margin: 0; width: 12px; height: 7px; background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6L6 1L11 6' stroke='%239DA7BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.main_nav .nav-item.show .nav-link.dropdown-toggle:after { -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); }

.main_nav .nav-item.active .nav-link.dropdown-toggle:after { -webkit-transform: rotate(0) !important; -ms-transform: rotate(0) !important; transform: rotate(0) !important; }

.main_nav .nav-item.active .dropdown-menu { display: block; }

.main_nav .nav-item.active .nav-link { background: rgba(15, 193, 171, 0.05); font-weight: 500; }

.main_nav .nav-item.active .nav-link:before { content: ""; width: 3px; height: 100%; position: absolute; top: 0; left: 0; background: #0FC1AB; }

.main_nav .nav-item .dropdown-menu { -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; position: static !important; width: 100%; background: none; margin: 0; padding: 0; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; }

.main_nav .nav-item .dropdown-menu li { margin-bottom: 10px; }

.main_nav .nav-item .dropdown-menu li:last-child { margin-bottom: 0; }

.main_nav .nav-item .dropdown-menu li a { font-size: 14px; line-height: 24px; font-weight: normal; color: #fff; opacity: .7; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; text-decoration: none; padding: 12px 28px 12px 32px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.main_nav .nav-item .dropdown-menu li a em { font-style: normal; opacity: 0.7 !important; margin-left: auto; }

.main_nav .nav-item .dropdown-menu li a:hover { opacity: 1; }

.main_nav .nav-item .dropdown-menu li.active a { opacity: 1; }

.header { border-bottom: 1px solid #E4E8F0; padding-left: 32px; }

.header .btn_logout { -webkit-border-radius: 0; border-radius: 0; padding: 28px 32px; font-weight: 500; font-size: 16px; line-height: 24px; color: #0FC1AB; border: 0; border-left: 1px solid #E4E8F0; }

.header .btn_logout:hover { color: #000; }

.wrapper { padding-left: 230px; }

/*# sourceMappingURL=all.css.map */
