body { font-family: 'Rubik', sans-serif; font-size: 16px; }

a:hover { text-decoration: none; }

.color_gray { color: #4C5461; }

.fw_500 { font-weight: 500; }

.body_overflow { overflow: hidden; }

@media (min-width: 992px) { .body_overflow { overflow: visible; } }

.owl-dots { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; text-align: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%; margin-top: 0 !important; }

.owl-dots button { outline: none !important; }

.btn-outline-light { color: #000; }

.minw_0 { min-width: 0; }

.dropdown_cstm .ico img { width: 20px; height: 20px; -webkit-border-radius: 50%; border-radius: 50%; display: block; }

.dropdown_cstm .dropdown-menu { max-height: 250px; overflow: auto; }

.dropdown_cstm .dropdown-menu .dropdown-item { padding-left: 12px; }

.dropdown_cstm .info_field { padding-top: 7px; padding-bottom: 7px; }

.dropdown_cstm .info_field strong { font-size: 16px; line-height: 18px; color: #000; font-weight: normal; max-width: 130px; padding-right: 5px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.dropdown_cstm .info_field em { font-style: normal; color: #4C5461; font-size: 16px; line-height: 18px; }

.dropdown_cstm .dropdown-toggle { position: relative; padding-right: 30px; }

.dropdown_cstm .dropdown-toggle:after { position: absolute; top: 50%; right: 15px; border: 0; width: 9px; height: 9px; margin-top: -1px; border-left: 2px solid #9da7be; border-bottom: 2px solid #9da7be; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.dropdown_cstm.show .dropdown-toggle:after { -webkit-transform: translateY(-50%) rotate(-225deg); -ms-transform: translateY(-50%) rotate(-225deg); transform: translateY(-50%) rotate(-225deg); margin-top: 0; }

.text_muted { color: #9DA7BE; }

.custom_dataTables .info_circle { cursor: pointer; }

.custom_dataTables th { padding: 0 20px 0 0 !important; border: 0 !important; color: #4C5461; font-size: 16px; line-height: 19px; font-weight: normal !important; }

.custom_dataTables th:last-child { padding-right: 0 !important; }

.custom_dataTables th.name_ava_th { padding-left: 72px !important; }

.custom_dataTables td { padding: 12px 20px 12px 0 !important; font-size: 16px; line-height: 19px; }

.custom_dataTables td:last-child { padding-right: 0 !important; }

.custom_dataTables td strong { font-weight: normal; font-size: 18px; line-height: 21px; }

.custom_dataTables td a:hover { text-decoration: none; }

.custom_dataTables thead th { padding-bottom: 10px !important; }

.custom_dataTables .ava_block { height: 48px; width: 48px; }

.custom_dataTables .ava_block em { font-size: 20px; }

.fz_20 { font-size: 20px; }

.ava_name { max-width: 220px; }

.ava_name strong { padding-left: 24px; }

.ava_name a:hover { text-decoration: none; }

.ava_name .ava_block { max-width: 48px; -webkit-box-flex: 0; -webkit-flex: 0 0 48px; -ms-flex: 0 0 48px; flex: 0 0 48px; height: 48px; }

.ava_block span { background: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; border: 1px solid #E4E8F0; -webkit-border-radius: 50%; border-radius: 50%; }

.ava_block span img { max-width: 80%; -webkit-border-radius: 50%; border-radius: 50%; }

.info_circle { width: 18px; max-width: 18px; -webkit-box-flex: 0; -webkit-flex: 0 0 18px; -ms-flex: 0 0 18px; flex: 0 0 18px; height: 18px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3E%3Cpath fill='%237A8595' d='M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-36 344h12V232h-12c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h48c6.627 0 12 5.373 12 12v140h12c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12h-72c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12zm36-240c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z'%3E%3C/path%3E%3C/svg%3E"); }

.dataTables_wrapper.no-footer .dataTables_scrollBody { border: 0; }

.fz_16 { font-size: 16px !important; }

.modal_dialog .modal-body, .modal_dialog .modal-header { border: 0; }

.modal_dialog .modal-header { padding-bottom: 0; }

.modal_dialog .modal-header h3 { font-weight: 500; font-size: 18px; line-height: 21px; }

.modal_dialog .ava_name { max-width: 100%; }

.modal_dialog .form-group .label { color: #4C5461; font-size: 14px; line-height: 17px; font-weight: normal; margin-bottom: 12px; }

.modal_dialog .form-group .form-control { height: 48px; -webkit-border-radius: 2px; border-radius: 2px; border-color: #E4E8F0; }

.modal_dialog .form-group textarea.form-control { height: auto; }

.color_gray_2 { color: #7A8595; }

.ico_close { width: 12px; height: 12px; display: inline-block; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%237A8595' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z' class=''%3E%3C/path%3E%3C/svg%3E"); }

.close_modal { padding: 0 !important; margin: 0 !important; position: absolute; right: 24px; top: 24px; }

.close_modal i { font-size: 19px; }

.fz_28 { font-size: 28px; }

.fancybox-container { z-index: 20; }

.bootstrap-select { display: block !important; }

.bootstrap-select .dropdown-menu { width: 100% !important; max-height: 200px !important; min-height: 0 !important; }

.bootstrap-select .dropdown-menu .inner { max-height: calc(200px - 16px) !important; min-height: 0 !important; }

.bootstrap-select .dropdown-item { white-space: normal; }

.bootstrap-select .dropdown-toggle { height: 48px; }

.bootstrap-select .dropdown-toggle:after { border: 0; border-left: 2px solid #9da7be; border-bottom: 2px solid #9da7be; width: 9px; height: 9px; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); position: relative; top: 3px; }

.bootstrap-select .dropdown-toggle .filter-option { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner-inner, .bootstrap-select .dropdown-toggle .filter-option .filter-option-inner { overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.bootstrap-select .dropdown-toggle:focus { outline: none !important; }

.bootstrap-select.show .dropdown-toggle:after { -webkit-transform: translateY(-50%) rotate(-225deg); -ms-transform: translateY(-50%) rotate(-225deg); transform: translateY(-50%) rotate(-225deg); }

.btn-outline_gray { border: 1px solid #E4E8F0; }

.border_gray { border-color: #E4E8F0; }

.bordered_table thead th { border-bottom-width: 1px; font-size: 16px; line-height: 17px; color: #4C5461; font-weight: normal; }

.custom_radio.custom-control-inline { padding-left: 31px; }

.custom_radio .custom-control-label:before { border-color: #E4E8F0 !important; background-color: #fff !important; left: -31px; }

.custom_radio .custom-control-label:after { background: no-repeat 50% / 60% 60%; left: -31px; }

.custom_radio .custom-control-input:checked ~ .custom-control-label::after { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230FC1AB'/%3e%3c/svg%3e") !important; }

.rounded_2 { -webkit-border-radius: 2px !important; border-radius: 2px !important; }

.fz_14 { font-size: 14px !important; }

.checkbox_slider { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.checkbox_slider .checkbox_input:checked ~ .checkbox_anim { background: #0FC1AB; }

.checkbox_slider .checkbox_input:disabled ~ .checkbox_anim, .checkbox_slider .checkbox_input:disabled ~ .checkbox_text { opacity: 0.5; cursor: inherit; }

.checkbox_slider .checkbox_input:checked ~ .checkbox_anim:after { left: auto; right: 2px; }

.checkbox_slider .checkbox_input { display: none; }

.checkbox_slider .checkbox_text { cursor: pointer; padding-right: 15px; }

.checkbox_slider .checkbox_anim { position: relative; max-width: 42px; -webkit-box-flex: 0; -webkit-flex: 0 0 42px; -ms-flex: 0 0 42px; flex: 0 0 42px; height: 24px; -webkit-border-radius: 30px; border-radius: 30px; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; cursor: pointer; background: #E4E8F0; }

.checkbox_slider .checkbox_anim:after { content: ''; position: absolute; top: 50%; left: 2px; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); width: 20px; height: 20px; -webkit-border-radius: 50%; border-radius: 50%; background: #fff; }

.fz_18 { font-size: 18px !important; }

.alert_danger { background: rgba(235, 0, 27, 0.03); -webkit-border-radius: 5px; border-radius: 5px; }

.custom_file { position: relative; width: 100%; height: 164px; border: 1px solid #E4E8F0; -webkit-border-radius: 2px; border-radius: 2px; cursor: pointer; padding: 32px; }

.custom_file i { font-size: 48px; color: #9da7be; }

.custom_file .input_file { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer; z-index: 2; }

.custom_file label { max-width: 151px; color: #4C5461; font-size: 14px; line-height: 20px; margin: 12px auto 0; }

.sidebar { width: 230px; background: #181B25; height: 100vh; position: fixed; top: 0; left: 0; bottom: 0; overflow: auto; z-index: 20; }

.sidebar .logo { display: block; padding-left: 28px; padding-top: 28px; padding: 28px 0 39px 28px; }

@media (max-width: 991.98px) { .sidebar { left: -230px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
  .sidebar.active { left: 0; } }

.main_nav .nav-item { margin-bottom: 10px; }

.main_nav .nav-item .nav-link { padding: 22px 48px 22px 32px; font-size: 16px; line-height: 19px; font-weight: normal; color: #fff; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; white-space: normal; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.main_nav .nav-item .nav-link em { width: 19px; max-width: 19px; -webkit-box-flex: 0; -webkit-flex: 0 0 19px; -ms-flex: 0 0 19px; flex: 0 0 19px; height: 19px; background: #B82F2F; -webkit-border-radius: 50%; border-radius: 50%; font-size: 9px; font-style: normal; line-height: 19px; text-align: center; display: inline-block; position: relative; top: -3px; top: -12px; -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.main_nav .nav-item .nav-link:hover { background: rgba(15, 193, 171, 0.05); }

.main_nav .nav-item .nav-link.dropdown-toggle:after { display: block; position: absolute; right: 30px; top: 25px; border: 0; margin: 0; width: 12px; height: 7px; background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6L6 1L11 6' stroke='%239DA7BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.main_nav .nav-item.show .nav-link.dropdown-toggle:after { -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); }

.main_nav .nav-item.active .nav-link.dropdown-toggle:after { -webkit-transform: rotate(0) !important; -ms-transform: rotate(0) !important; transform: rotate(0) !important; }

.main_nav .nav-item.active .dropdown-menu { display: block; }

.main_nav .nav-item.active .nav-link { background: rgba(15, 193, 171, 0.05); font-weight: 500; }

.main_nav .nav-item.active .nav-link:before { content: ""; width: 3px; height: 100%; position: absolute; top: 0; left: 0; background: #0FC1AB; }

.main_nav .nav-item .dropdown-menu { -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; position: static !important; width: 100%; background: none; margin: 0; padding: 0; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; }

.main_nav .nav-item .dropdown-menu li { margin-bottom: 10px; }

.main_nav .nav-item .dropdown-menu li:last-child { margin-bottom: 0; }

.main_nav .nav-item .dropdown-menu li a { font-size: 14px; line-height: 24px; font-weight: normal; color: #fff; opacity: .7; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; text-decoration: none; padding: 12px 28px 12px 32px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.main_nav .nav-item .dropdown-menu li a em { font-style: normal; opacity: 0.7 !important; margin-left: auto; }

.main_nav .nav-item .dropdown-menu li a:hover { opacity: 1; }

.main_nav .nav-item .dropdown-menu li.active a { color: #0FC1AB; opacity: 1; }

.sidebar_overlay { position: fixed; top: 47px; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; display: none; }

.sidebar_overlay.active { display: block; background: rgba(0, 0, 0, 0.4); z-index: 10; }

@media (min-width: 992px) { .sidebar_overlay { display: none !important; } }

.header { border-bottom: 1px solid #E4E8F0; padding-left: 32px; }

.header .back_btn { height: 30px; width: 30px; max-width: 30px; -webkit-box-flex: 0; -webkit-flex: 0 0 30px; -ms-flex: 0 0 30px; flex: 0 0 30px; margin: 0 0 0 16px; -webkit-border-radius: 3px; border-radius: 3px; }

.header .back_btn i { font-size: 14px; }

@media (max-width: 991.98px) { .header { padding-left: 15px; } }

.header .btn_logout { -webkit-border-radius: 0; border-radius: 0; padding: 28px 32px; font-weight: 500; font-size: 16px; line-height: 24px; color: #0FC1AB; border: 0; border-left: 1px solid #E4E8F0; }

.header .btn_logout:hover { color: #000; }

@media (max-width: 991.98px) { .header .btn_logout { padding: 15px; } }

.header .user_name { max-width: 200px; }

.header .user_name span { max-width: 32px; -webkit-box-flex: 0; -webkit-flex: 0 0 32px; -ms-flex: 0 0 32px; flex: 0 0 32px; }

.header .user_name strong { font-weight: normal; padding-left: 16px; padding-right: 32px; }

.btn_menu { width: 18px; position: relative; cursor: pointer; height: 14px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.btn_menu span { display: block; height: 2px; width: 18px; -webkit-transition: .5s ease; -o-transition: .5s ease; transition: .5s ease; margin: 0 0 4px; -webkit-border-radius: 2px; border-radius: 2px; background: #181B25; }

.btn_menu span + span { margin-bottom: 4px; }

.btn_menu span + span:last-child { margin-bottom: 0; }

.btn_menu.active span { position: absolute; margin: 0 !important; top: 6px; }

.btn_menu.active span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); left: 0; }

.btn_menu.active span:nth-child(2) { width: 0; }

.btn_menu.active span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); right: 0; }

.wrapper { padding-left: 230px; }

@media (max-width: 991.98px) { .wrapper { padding-left: 0; } }

.content_center { padding: 48px 61px 12px; }

@media (max-width: 1449.98px) { .content_center { padding-left: 16px; padding-right: 16px; } }

@media (max-width: 1449.98px) and (max-width: 991.98px) { .content_center { padding-left: 0; padding-right: 0; padding-top: 20px; } }

.content_center h1 { font-size: 36px; line-height: 43px; font-weight: 500; margin: 0; color: #000; padding-bottom: 48px; }

@media (max-width: 991.98px) { .content_center h1 { padding-bottom: 25px; font-size: 30px; line-height: 33px; } }

.transaction_panel { max-width: 240px; -webkit-box-flex: 0; -webkit-flex: 0 0 240px; -ms-flex: 0 0 240px; flex: 0 0 240px; margin-right: 24px; margin-bottom: 24px; }

@media (min-width: 992px) and (max-width: 1449.98px) { .transaction_panel { max-width: 33.333%; -webkit-box-flex: 0; -webkit-flex: 0 0 33.333%; -ms-flex: 0 0 33.333%; flex: 0 0 33.333%; padding-left: 12px; padding-right: 12px; margin-right: 0; } }

.owl-item .transaction_panel { max-width: 100%; }

.transaction_panel .info_panel { height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.info_panel { background: #fff; -webkit-box-shadow: 2px 4px 20px rgba(157, 167, 190, 0.16); box-shadow: 2px 4px 20px rgba(157, 167, 190, 0.16); -webkit-border-radius: 2px; border-radius: 2px; }

.info_panel h4 { font-weight: 400; font-size: 14px; line-height: 18px; margin-bottom: 16px; }

.info_panel p { color: #4C5461; font-size: 14px; line-height: 18px; margin-top: auto; }

.info_panel .transaction_info { padding-bottom: 24px; }

.info_panel .transaction_info strong { font-weight: 400; font-size: 24px; line-height: 28px; padding-right: 15px; }

.info_panel .transaction_info span { font-size: 14px; line-height: 14px; }

@media (min-width: 992px) and (max-width: 1449.98px) { .transaction_block { margin-left: -12px; margin-right: -12px; } }

@media (max-width: 991.98px) { .transaction_block { margin-top: -20px; }
  .transaction_block .transaction_panel { margin-bottom: 0; }
  .transaction_block .owl-stage { padding-top: 20px; padding-bottom: 20px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
  .transaction_block .owl-stage .transaction_panel { height: 100%; max-width: 100%; margin-right: 0; padding-left: 12px; padding-right: 12px; min-width: 240px; } }

.filter_block { padding-top: 60px; }

.filter_block h3 { font-weight: 500; font-size: 20px; line-height: 24px; }

.filter_block .dropdown_cstm { min-width: 132px; max-width: 170px; }

.filter_block .dropdown_cstm .dropdown-toggle { position: relative; }

.search_section .btn, .filter_block .btn { -webkit-border-radius: 2px; border-radius: 2px; padding-top: 10px; padding-bottom: 9px; }

.search_section .dropdown_toggle, .filter_block .dropdown_toggle { padding-right: 35px; }

.search_section .dropdown_toggle { max-width: 100%; }

@media (min-width: 768px) { .search_section .dropdown_toggle { max-width: 150px; } }

.list_filter { border: 1px solid #E4E8F0; -webkit-border-radius: 2px; border-radius: 2px; }

.list_filter li { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }

@media (max-width: 991.98px) { .list_filter li { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; width: 100%; max-width: 100%; } }

.list_filter li:first-child a { border-left: 0; }

.list_filter a { text-align: center; display: block; font-size: 16px; line-height: 17px; color: #7A8595; background: rgba(228, 232, 240, 0.12); padding: 13px 10px; border-left: 1px solid #E4E8F0; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

@media (max-width: 575.98px) { .list_filter a { font-size: 13px; } }

.list_filter a:hover { text-decoration: none; color: #000; }

.list_filter a.active { background: #fff; color: #000; }

.time_sales strong { font-weight: normal; font-size: 20px; line-height: 24px; padding-right: 15px; }

.time_sales span { font-size: 14px; }

.time_sales p { font-size: 14px; line-height: 18px; color: #4C5461; padding-top: 12px; }

.ct-chart:before { content: none; }

.ct-chart .ct-bar { stroke: #0FC1AB !important; }

.ttl_line h3 { font-size: 20px; line-height: 24px; font-weight: 500; margin-bottom: 0; }

.ttl_line a { font-size: 18px; line-height: 21px; font-weight: 500; }

.ttl_line a:hover { text-decoration: none; }

.list_history li { padding-bottom: 30px; }

.list_history li > div { padding-top: 5px; padding-bottom: 5px; }

.list_history a { padding-top: 5px; padding-bottom: 5px; }

.list_history a:hover { text-decoration: none; background: rgba(15, 193, 171, 0.05); -webkit-border-radius: 4px; border-radius: 4px; }

.list_history strong { color: #000; font-size: 18px; line-height: 24px; font-weight: normal; }

.list_history em.data { font-style: normal; color: #4C5461; letter-spacing: 0.01em; font-size: 16px; line-height: 19px; padding-top: 10px; }

.list_history .cost { font-weight: 500; font-size: 18px; line-height: 21px; color: #000; }

.list_history .status { font-size: 16px; line-height: 19px; font-weight: normal; padding-top: 13px; }

@media (max-width: 575.98px) { .list_history .hist_data { padding-left: 81px !important; padding-top: 10px; } }

.ava_block { width: 56px; height: 56px; background: rgba(157, 167, 190, 0.05); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; overflow: hidden; }

.ava_block em { text-transform: uppercase; font-style: normal; color: #9DA7BE; font-size: 24px; }

.ava_block.ava_block_big { width: 104px; height: 104px; max-width: 104px; -webkit-box-flex: 0; -webkit-flex: 0 0 104px; -ms-flex: 0 0 104px; flex: 0 0 104px; }

.ava_block.ava_block_big em { font-size: 36px; }

@media (max-width: 991.98px) { .ava_block.ava_block_big { width: 56px; max-width: 56px; -webkit-box-flex: 0; -webkit-flex: 0 0 56px; -ms-flex: 0 0 56px; flex: 0 0 56px; height: 56px; }
  .ava_block.ava_block_big em { font-size: 24px; } }

.nav_tabs { border-bottom: 1px solid #E4E8F0; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; overflow: auto; }

.nav_tabs li { margin: 0 !important; padding-right: 15px; }

@media (min-width: 768px) { .nav_tabs li { padding-right: 48px; } }

.nav_tabs li:last-child { padding-right: 0 !important; }

.nav_tabs li a { border: 0 !important; padding: 0; font-size: 16px; line-height: 19px; color: #4C5461; padding-bottom: 16px; border-bottom: 2px solid transparent !important; white-space: nowrap; }

@media (max-width: 575.98px) { .nav_tabs li a { font-size: 14px; }
  .nav_tabs li a span { font-size: 11px !important; } }

.nav_tabs li a span { font-size: 14px; line-height: 17px; color: #7A8595; padding-left: 8px; }

.nav_tabs li a.active { color: #000 !important; position: relative; }

.nav_tabs li a.active:after { content: ""; position: absolute; top: 100%; left: 0; width: 100%; height: 2px; background: #0FC1AB; }

.search_panel { position: relative; }

.search_panel .form-control { -webkit-border-radius: 2px; border-radius: 2px; height: 56px; border-color: #E4E8F0; }

.search_panel.search_panel_with_btn .form-control { padding-left: 56px; }

.search_panel.search_panel_with_btn .btn_pseudo { width: 56px; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: absolute; top: 0; left: 0; }

.list_item_info span, .list_item_info strong { color: #4C5461; font-size: 16px; line-height: 19px; }

.list_item_info strong { font-weight: normal; color: #000; }

.list_item_info a:hover { text-decoration: none; }

.list_time_tree p { font-size: 16px; line-height: 19px; }

.list_time_tree li { position: relative; padding-left: 40px; padding-bottom: 30px; }

.list_time_tree li:before { content: ""; position: absolute; top: 2px; left: 0; width: 16px; height: 16px; -webkit-border-radius: 50%; border-radius: 50%; background: #E4E8F0; }

.list_time_tree li:after { content: ""; height: 100%; width: 2px; background: #E4E8F0; position: absolute; top: 3px; left: 8px; }

.list_time_tree li:last-child { padding-bottom: 0; }

.list_time_tree li:last-child:after { content: none; }

.chart_holder { height: 400px !important; }

.add_tabale_row { padding: 12px; border: 1px solid #dee2e6; border-top: 0; }

.settings_nav { font-size: 16px; line-height: 18px; }

@media (min-width: 768px) { .settings_nav { width: 230px; } }

.settings_nav li { padding-bottom: 30px; }

.settings_nav li a { color: #4C5461; padding: 0 20px 0 0; }

.settings_nav li a.dropdown-toggle { position: relative; }

.settings_nav li a.dropdown-toggle:after { position: absolute; right: 0; top: 6px; display: block; width: 12px; height: 7px; border: 0; background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6L6 1L11 6' stroke='%239DA7BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.settings_nav li.show > a, .settings_nav li.active > a { color: #000; }

.settings_nav li.show .dropdown-toggle:after, .settings_nav li.active .dropdown-toggle:after { -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); }

.settings_nav li.active .dropdown-menu { display: block; }

.settings_nav .dropdown-menu { -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; position: static !important; width: 100%; background: none; margin: 0; padding: 0; float: none; border: 0; padding-top: 30px; padding-left: 7px; }

.settings_nav .dropdown-menu li.active a { color: #0FC1AB; }

.settings_nav .dropdown-menu li:last-child { padding-bottom: 0; }

@media (min-width: 992px) { .profile_sidebar { width: 300px; } }

.profile_sidebar .user_top_info h4 { font-weight: 500; font-size: 20px; line-height: 24px; margin: 0  0 12px 0; }

.profile_sidebar .user_top_info p { color: #4C5461; font-size: 16px; line-height: 18px; }

.nav_user_info span { color: #4C5461; display: block; font-size: 14px; line-height: 17px; padding-bottom: 8px; }

.nav_user_info strong { font-weight: normal; font-size: 16px; line-height: 19px; color: #000; }

.alert_text p { font-size: 14px; line-height: 17px; color: #000; }

.alert_text strong { font-size: 16px; line-height: 19px; font-weight: normal; }

.docs_block h4 { font-weight: 500; font-size: 16px; line-height: 19px; }

.show_info { cursor: pointer; }

.show_info i { font-size: 24px; }

.show_info span { color: #4C5461; }

@media (min-width: 992px) { .show_info { display: none; } }

@media (max-width: 991.98px) { .show_info { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; } }

@media (max-width: 991.98px) { .user_bottom_info { display: none; } }

.ico_holder { height: 35px; width: 35px; }

.ico_holder i { font-size: 18px; }

.ico_holder img { max-width: 100%; display: block; height: auto; }

.list_data .data_info { color: #000; }

.list_data .data_info span { font-size: 12px; line-height: 14px; }

.list_data .data_info .data_sum { font-size: 16px; line-height: 17px; }

.list_data a:hover { background: rgba(15, 193, 171, 0.05); }

.account_sum { font-weight: 500; font-size: 48px; line-height: 50px; }

.mxw_label { max-width: 35px; }

.mxw_label img { display: block; max-width: 100%; height: auto; }

.back_btn { height: 48px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #E4E8F0; background: #fff; text-align: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 10px; width: 48px; max-width: 48px; -webkit-box-flex: 0; -webkit-flex: 0 0 48px; -ms-flex: 0 0 48px; flex: 0 0 48px; }

.back_btn i { color: #7A8595; }

.back_btn_holder .back_btn { margin-bottom: 48px; }

.mxw_50 { max-width: 50px; -webkit-box-flex: 0; -webkit-flex: 0 0 50px; -ms-flex: 0 0 50px; flex: 0 0 50px; }

@media screen and (min-width: 992px) and (max-width: 1150px) { .custom_col_lgg { max-width: 100%; -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; } }

.color_black { color: #000; }

.one_card { -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.one_card .owner_name { font-size: 20px; line-height: 22px; color: #000; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

@media (min-width: 992px) and (max-width: 1449.98px) { .one_card .owner_name { font-size: 16px; line-height: 18px; } }

.one_card:hover { background: rgba(255, 193, 7, 0.05); }

.one_card .top_part { padding-bottom: 30px; }

.one_card .top_part strong { font-weight: 500; color: #000; font-size: 24px; line-height: 28px; }

@media (min-width: 992px) and (max-width: 1449.98px) { .one_card .top_part strong { font-size: 17px; } }

.one_card .top_part span { text-align: right; }

.one_card .top_part span img { max-width: 100%; }

.one_card .middle_part { padding-bottom: 30px; }

.one_card .bottom_part, .one_card .middle_part, .one_card .top_part { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.one_card .bottom_part_info { width: 100%; }

.one_card .bottom_part { color: #4C5461; }

@media (min-width: 992px) and (max-width: 1449.98px) { .one_card .bottom_part { font-size: 11px; } }

.one_card .face_col, .one_card .land_col { max-width: 48px; -webkit-box-flex: 0; -webkit-flex: 0 0 48px; -ms-flex: 0 0 48px; flex: 0 0 48px; -webkit-border-radius: 50%; border-radius: 50%; overflow: hidden; }

.one_card .face_col img, .one_card .land_col img { max-width: 100%; display: block; height: auto; }

.one_card .land_col { max-width: 36px; -webkit-box-flex: 0; -webkit-flex: 0 0 36px; -ms-flex: 0 0 36px; flex: 0 0 36px; }

.bottom_part_info { min-width: 0; }

.name_acc { font-size: 18px; line-height: 20px; color: #000; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

@media (min-width: 992px) and (max-width: 1449.98px) { .name_acc { font-size: 16px; line-height: 18px; } }

.hidden_number { margin-right: 7px; }

.hidden_number em { width: 3px; height: 3px; -webkit-border-radius: 50%; border-radius: 50%; margin: 0 2px 0 0; background: #4C5461; }

.list_panel a { padding: 24px 40px 24px 24px; border: 1px solid #E4E8F0; -webkit-border-radius: 2px; border-radius: 2px; display: block; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; }

.list_panel a:after { content: ""; position: absolute; top: 50%; right: 24px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 10px; height: 18px; background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L8.5 9L1 16.5' stroke='%239DA7BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }

.list_panel a:hover { -webkit-box-shadow: 2px 4px 20px rgba(157, 167, 190, 0.16); box-shadow: 2px 4px 20px rgba(157, 167, 190, 0.16); }

.list_panel strong { font-weight: normal; font-size: 18px; line-height: 21px; color: #000; padding-bottom: 10px; }

.list_panel span { font-size: 16px; line-height: 19px; color: #4C5461; }

/*# sourceMappingURL=all.css.map */
