body { font-family: 'Rubik', sans-serif; font-size: 16px; }

.color_gray { color: #4C5461; }

.fw_500 { font-weight: 500; }

.body_overflow { overflow: hidden; }

@media (min-width: 992px) { .body_overflow { overflow: visible; } }

.owl-dots { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; text-align: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%; margin-top: 0 !important; }

.owl-dots button { outline: none !important; }

.btn-outline-light { color: #000; }

.dropdown_cstm .dropdown-toggle { position: relative; padding-right: 30px; }

.dropdown_cstm .dropdown-toggle:after { position: absolute; top: 50%; right: 15px; border: 0; width: 9px; height: 9px; margin-top: -1px; border-left: 2px solid #9da7be; border-bottom: 2px solid #9da7be; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.dropdown_cstm.show .dropdown-toggle:after { -webkit-transform: translateY(-50%) rotate(-225deg); -ms-transform: translateY(-50%) rotate(-225deg); transform: translateY(-50%) rotate(-225deg); margin-top: 0; }

.sidebar { width: 230px; background: #181B25; height: 100vh; position: fixed; top: 0; left: 0; bottom: 0; overflow: auto; z-index: 20; }

.sidebar .logo { display: block; padding-left: 28px; padding-top: 28px; padding: 28px 0 39px 28px; }

@media (max-width: 991.98px) { .sidebar { left: -230px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
  .sidebar.active { left: 0; } }

.main_nav .nav-item { margin-bottom: 10px; }

.main_nav .nav-item .nav-link { padding: 22px 48px 22px 32px; font-size: 16px; line-height: 19px; font-weight: normal; color: #fff; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; white-space: normal; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.main_nav .nav-item .nav-link em { width: 19px; max-width: 19px; -webkit-box-flex: 0; -webkit-flex: 0 0 19px; -ms-flex: 0 0 19px; flex: 0 0 19px; height: 19px; background: #B82F2F; -webkit-border-radius: 50%; border-radius: 50%; font-size: 9px; font-style: normal; line-height: 19px; text-align: center; display: inline-block; position: relative; top: -3px; top: -12px; -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.main_nav .nav-item .nav-link:hover { background: rgba(15, 193, 171, 0.05); }

.main_nav .nav-item .nav-link.dropdown-toggle:after { display: block; position: absolute; right: 30px; top: 25px; border: 0; margin: 0; width: 12px; height: 7px; background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6L6 1L11 6' stroke='%239DA7BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.main_nav .nav-item.show .nav-link.dropdown-toggle:after { -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); }

.main_nav .nav-item.active .nav-link.dropdown-toggle:after { -webkit-transform: rotate(0) !important; -ms-transform: rotate(0) !important; transform: rotate(0) !important; }

.main_nav .nav-item.active .dropdown-menu { display: block; }

.main_nav .nav-item.active .nav-link { background: rgba(15, 193, 171, 0.05); font-weight: 500; }

.main_nav .nav-item.active .nav-link:before { content: ""; width: 3px; height: 100%; position: absolute; top: 0; left: 0; background: #0FC1AB; }

.main_nav .nav-item .dropdown-menu { -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; position: static !important; width: 100%; background: none; margin: 0; padding: 0; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; }

.main_nav .nav-item .dropdown-menu li { margin-bottom: 10px; }

.main_nav .nav-item .dropdown-menu li:last-child { margin-bottom: 0; }

.main_nav .nav-item .dropdown-menu li a { font-size: 14px; line-height: 24px; font-weight: normal; color: #fff; opacity: .7; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; text-decoration: none; padding: 12px 28px 12px 32px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.main_nav .nav-item .dropdown-menu li a em { font-style: normal; opacity: 0.7 !important; margin-left: auto; }

.main_nav .nav-item .dropdown-menu li a:hover { opacity: 1; }

.main_nav .nav-item .dropdown-menu li.active a { opacity: 1; }

.sidebar_overlay { position: fixed; top: 47px; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; display: none; }

.sidebar_overlay.active { display: block; background: rgba(0, 0, 0, 0.4); z-index: 10; }

@media (min-width: 992px) { .sidebar_overlay { display: none !important; } }

.header { border-bottom: 1px solid #E4E8F0; padding-left: 32px; }

@media (max-width: 991.98px) { .header { padding-left: 15px; } }

.header .btn_logout { -webkit-border-radius: 0; border-radius: 0; padding: 28px 32px; font-weight: 500; font-size: 16px; line-height: 24px; color: #0FC1AB; border: 0; border-left: 1px solid #E4E8F0; }

.header .btn_logout:hover { color: #000; }

@media (max-width: 991.98px) { .header .btn_logout { padding: 15px; } }

.header .user_name { max-width: 200px; }

.header .user_name span { max-width: 32px; -webkit-box-flex: 0; -webkit-flex: 0 0 32px; -ms-flex: 0 0 32px; flex: 0 0 32px; }

.header .user_name strong { font-weight: normal; padding-left: 16px; padding-right: 32px; }

.btn_menu { width: 18px; position: relative; cursor: pointer; height: 14px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.btn_menu span { display: block; height: 2px; width: 18px; -webkit-transition: .5s ease; -o-transition: .5s ease; transition: .5s ease; margin: 0 0 4px; -webkit-border-radius: 2px; border-radius: 2px; background: #181B25; }

.btn_menu span + span { margin-bottom: 4px; }

.btn_menu span + span:last-child { margin-bottom: 0; }

.btn_menu.active span { position: absolute; margin: 0 !important; top: 6px; }

.btn_menu.active span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); left: 0; }

.btn_menu.active span:nth-child(2) { width: 0; }

.btn_menu.active span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); right: 0; }

.wrapper { padding-left: 230px; }

@media (max-width: 991.98px) { .wrapper { padding-left: 0; } }

.content_center { padding: 48px 61px 12px; }

@media (max-width: 1199.98px) { .content_center { padding-left: 16px; padding-right: 16px; } }

@media (max-width: 1199.98px) and (max-width: 991.98px) { .content_center { padding-left: 0; padding-right: 0; padding-top: 20px; } }

.content_center h1 { font-size: 36px; line-height: 43px; font-weight: 500; margin: 0; color: #000; padding-bottom: 48px; }

@media (max-width: 991.98px) { .content_center h1 { padding-bottom: 25px; font-size: 30px; line-height: 33px; } }

.transaction_panel { max-width: 240px; -webkit-box-flex: 0; -webkit-flex: 0 0 240px; -ms-flex: 0 0 240px; flex: 0 0 240px; margin-right: 24px; margin-bottom: 24px; }

@media (min-width: 992px) and (max-width: 1199.98px) { .transaction_panel { max-width: 33.333%; -webkit-box-flex: 0; -webkit-flex: 0 0 33.333%; -ms-flex: 0 0 33.333%; flex: 0 0 33.333%; padding-left: 12px; padding-right: 12px; margin-right: 0; } }

.transaction_panel .info_panel { height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.info_panel { background: #fff; -webkit-box-shadow: 2px 4px 20px rgba(157, 167, 190, 0.16); box-shadow: 2px 4px 20px rgba(157, 167, 190, 0.16); -webkit-border-radius: 2px; border-radius: 2px; }

.info_panel h4 { font-weight: 400; font-size: 14px; line-height: 18px; margin-bottom: 16px; }

.info_panel p { color: #4C5461; font-size: 14px; line-height: 18px; margin-top: auto; }

.info_panel .transaction_info { padding-bottom: 24px; }

.info_panel .transaction_info strong { font-weight: 400; font-size: 24px; line-height: 28px; padding-right: 15px; }

.info_panel .transaction_info span { font-size: 14px; line-height: 14px; }

@media (min-width: 992px) and (max-width: 1199.98px) { .transaction_block { margin-left: -12px; margin-right: -12px; } }

@media (max-width: 991.98px) { .transaction_block { margin-top: -20px; }
  .transaction_block .transaction_panel { margin-bottom: 0; }
  .transaction_block .owl-stage { padding-top: 20px; padding-bottom: 20px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
  .transaction_block .owl-stage .transaction_panel { height: 100%; max-width: 100%; margin-right: 0; padding-left: 12px; padding-right: 12px; min-width: 240px; } }

.filter_block { padding-top: 60px; }

.filter_block h3 { font-weight: 500; font-size: 20px; line-height: 24px; }

.filter_block .btn { -webkit-border-radius: 2px; border-radius: 2px; padding-top: 10px; padding-bottom: 9px; }

.filter_block .dropdown_cstm { min-width: 132px; max-width: 170px; }

.filter_block .dropdown_cstm .dropdown-toggle { position: relative; }

.list_filter { border: 1px solid #E4E8F0; -webkit-border-radius: 2px; border-radius: 2px; }

@media (min-width: 768px) { .list_filter li { min-width: 104px; } }

.list_filter li:first-child a { border-left: 0; }

.list_filter a { text-align: center; display: block; font-size: 16px; line-height: 17px; color: #7A8595; background: rgba(228, 232, 240, 0.12); padding: 13px 10px; border-left: 1px solid #E4E8F0; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

@media (max-width: 575.98px) { .list_filter a { font-size: 13px; } }

.list_filter a:hover { text-decoration: none; color: #000; }

.list_filter a.active { background: #fff; color: #000; }

.time_sales strong { font-weight: normal; font-size: 20px; line-height: 24px; padding-right: 15px; }

.time_sales span { font-size: 14px; }

.time_sales p { font-size: 14px; line-height: 18px; color: #4C5461; padding-top: 12px; }

.ct-chart:before { content: none; }

.ct-chart .ct-bar { stroke: #0FC1AB !important; }

.ttl_line h3 { font-size: 20px; line-height: 24px; font-weight: 500; margin-bottom: 0; }

.ttl_line a { font-size: 18px; line-height: 21px; font-weight: 500; }

.ttl_line a:hover { text-decoration: none; }

.list_history li { padding-bottom: 30px; }

.list_history li > div { padding-top: 5px; padding-bottom: 5px; }

.list_history a { padding-top: 5px; padding-bottom: 5px; }

.list_history a:hover { text-decoration: none; background: rgba(15, 193, 171, 0.05); -webkit-border-radius: 4px; border-radius: 4px; }

.list_history strong { color: #000; font-size: 18px; line-height: 24px; font-weight: normal; }

.list_history em.data { font-style: normal; color: #4C5461; letter-spacing: 0.01em; font-size: 16px; line-height: 19px; padding-top: 10px; }

.list_history .cost { font-weight: 500; font-size: 18px; line-height: 21px; color: #000; }

.list_history .status { font-size: 16px; line-height: 19px; font-weight: normal; padding-top: 13px; }

@media (max-width: 575.98px) { .list_history .hist_data { padding-left: 81px !important; padding-top: 10px; } }

.ava_block { width: 56px; height: 56px; background: rgba(157, 167, 190, 0.05); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; overflow: hidden; }

.ava_block em { text-transform: uppercase; font-style: normal; color: #9DA7BE; font-size: 24px; }

.text_muted { color: #9DA7BE; }

/*# sourceMappingURL=all.css.map */
